<h1>Compatibilities</h1>

<table>
  <tr>
    <th>Test date</th>
    <th>First product (version)</th>
    <th>Second product (version)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @compatibilities.each do |compatibility| %>
      <% 
          first_version = Version.find(compatibility.first_version_id) 
          second_version = Version.find(compatibility.second_version_id) 
      %>
  <tr>
    <td><%= compatibility.test_date %></td>
    <td><%= first_version.product.name %> (<%= first_version.version_string %>)</td>
    <td><%= second_version.product.name %> (<%= second_version.version_string %>)</td>
    <td><%= link_to 'Show', compatibility %></td>
    <td><%= link_to 'Edit', edit_compatibility_path(compatibility) %></td>
    <td><%= link_to 'Destroy', compatibility, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Compatibility', new_compatibility_path %>
