<p id="notice"><%= notice %></p>

<p>
  <b>Test date:</b>
  <%= @compatibility.test_date %>
</p>

<p>
  <b>First product (version):</b>
  <%= @first_version.product.name %> (<%= @first_version.version_string %>)
</p>

<p>
  <b>Second product (version):</b>
  <%= @second_version.product.name %> (<%= @second_version.version_string %>)
</p>


<%= link_to 'Edit', edit_compatibility_path(@compatibility) %> |
<%= link_to 'Back', compatibilities_path %>
