<p id="notice"><%= notice %></p>

<p>
  <b>Product (Version):</b>
  <%= @version.product.name %> (<%= @version.version_string %>)
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
