<!DOCTYPE html>
<html>
<head>
  <title>VersionMatrix</title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
    <div class="container">
        <header>
            <nav class="round">
            <ul>
                <li><%= link_to "Version Matrix", :controller => "matricies", :action => "matrix" %></li>
                <li><%= link_to "Products", products_path %></li>
                <li><%= link_to "Versions", versions_path %></li>
                <li><%= link_to "Compatibilities", compatibilities_path %></li>
            </ul>
            </nav>
        </header>
        <div class="maincontainer">
            <div class="mainbox">
                <%= yield %>
            </div>
        <div>
    </div>
</body>
</html>
